.rxz-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 3px;

  &-asterisk {
    display: inline-block;
    flex: 0 0 14px;
    opacity: 1;
    color: red;
  }

  &-colon {
    display: inline-block;
    width: 16px;
    flex: 0 0 16px;
    opacity: 1;
  }
}
