.rxz-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 3px;

  &-asterisk {
    display: inline-block;
    height: 14px;
    width: 14px;
    flex: 0 0 14px;
    background-image: url('~@/images/asterisk.svg');
    background-size: 100% 100%;
    opacity: 1;
  }

  &-colon {
    display: inline-block;
    width: 16px;
    flex: 0 0 16px;
    opacity: 1;
  }
}
