.rxz-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 3px;

  &-asterisk {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url('~@/images/asterisk.svg');
    background-size: 100%;
    opacity: 1;
  }

  &-content {
    white-space:nowrap;
  }
}
