@use "~@/themes/themeify";

.rxz-popover {
  box-sizing: border-box;
  position: absolute;

  &.black {
    --bg-color: rgba(30, 30, 30);
    --text-color: #ffffff;

    .rxz-popover-content {
      border-color: transparent !important;
      &-arrow {
        border-color: transparent !important;
      }
    }
  }

  &.white {
    --bg-color: #ffffff;
    --text-color: #000000;

    .rxz-popover-content {
      @include themeify.themeify {
        border-color: themeify.getBorderColor("default", false);
      }
    }

  }

  &-content {
    position: relative;
    max-width: 400px;
    word-wrap: break-word;
    min-width: 1.25em;
    min-height: 1.25em;
    padding: 8px;
    box-sizing: border-box;
    background-color: var(--bg-color);
    border: 1px solid transparent;
    color: var(--text-color);

    &.radius {
      border-radius: 5px;
    }

    &-arrow {
      position: absolute;
      display: inline-block;
      width: 6px;
      height: 6px;
      border: 1px solid transparent;
      transform: rotate(45deg);
      background-color:  var(--bg-color);

      &.top {
        top: calc(100% - 3px);
        left: calc(50% - 3px);

        @include themeify.themeify {
          border-bottom-color: themeify.getBorderColor("default", false);
          border-right-color: themeify.getBorderColor("default", false);
        }
      }

      &.topleft {
        top: calc(100% - 3px);
        left: 12px;

        @include themeify.themeify {
          border-bottom-color: themeify.getBorderColor("default", false);
          border-right-color: themeify.getBorderColor("default", false);
        }
      }

      &.topright {
        top: calc(100% - 3px);
        right: 12px;

        @include themeify.themeify {
          border-bottom-color: themeify.getBorderColor("default", false);
          border-right-color: themeify.getBorderColor("default", false);
        }
      }

      &.left {
        top: calc(50% - 3px);
        left: calc(100% - 3px);

        @include themeify.themeify {
          border-top-color: themeify.getBorderColor("default", false);
          border-right-color: themeify.getBorderColor("default", false);
        }
      }

      &.lefttop {
        top: 12px;
        left: calc(100% - 3px);

        @include themeify.themeify {
          border-top-color: themeify.getBorderColor("default", false);
          border-right-color: themeify.getBorderColor("default", false);
        }
      }

      &.leftbottom {
        bottom: 12px;
        left: calc(100% - 3px);

        @include themeify.themeify {
          border-top-color: themeify.getBorderColor("default", false);
          border-right-color: themeify.getBorderColor("default", false);
        }
      }

      &.bottom {
        top: -5px;
        left: calc(50% - 3px);

        @include themeify.themeify {
          border-top-color: themeify.getBorderColor("default", false);
          border-left-color: themeify.getBorderColor("default", false);
        }
      }

      &.bottomleft {
        top: -5px;
        left: 12px;

        @include themeify.themeify {
          border-top-color: themeify.getBorderColor("default", false);
          border-left-color: themeify.getBorderColor("default", false);
        }
      }

      &.bottomright {
        top: -5px;
        right: 12px;

        @include themeify.themeify {
          border-top-color: themeify.getBorderColor("default", false);
          border-left-color: themeify.getBorderColor("default", false);
        }
      }

      &.right {
        top: calc(50% - 3px);
        left: -5px;

        @include themeify.themeify {
          border-bottom-color: themeify.getBorderColor("default", false);
          border-left-color: themeify.getBorderColor("default", false);
        }
      }

      &.righttop {
        top: 12px;
        left: -5px;

        @include themeify.themeify {
          border-bottom-color: themeify.getBorderColor("default", false);
          border-left-color: themeify.getBorderColor("default", false);
        }
      }

      &.rightbottom {
        bottom: 12px;
        left: -5px;

        @include themeify.themeify {
          border-bottom-color: themeify.getBorderColor("default", false);
          border-left-color: themeify.getBorderColor("default", false);
        }
      }
    }


  }

}


.opacity-anim-enter-active {
  animation: opacity-anim 0.2s;
}

.opacity-anim-leave-active {
  animation: opacity-anim 0.2s reverse;
}

@keyframes opacity-anim {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
