/*
获取方法
*/

@use "sass:map";
@use "sass:color";
@use "./func";

// 获取指定属性类型的值
@function getAttr($attrName, $type){
  // $theme-map为全局变量，指向当前主题的属性值(_mixin.scss文件中)
  $attrValues : map.get($theme-map, $attrName);
  $value : map.get($attrValues, $type);
  @return $value;
}

// transition，true则实现过度颜色
@function getColor($type, $transition){
  $this_color : getAttr("color", $type);
  @if $transition {
    @return func.transitionColor($this_color);
  }
  @else{
    @return $this_color;
  }
}

// transition，true则实现过度颜色
@function getBorderColor($type, $transition){
  $this_color : getAttr("border_color", $type);
  @if $transition {
    @return func.transitionColor($this_color);
  }
  @else{
    @return $this_color;
  }
}

// transition，true则实现过度颜色
@function getTextColor($type, $transition){
  $this_color : getAttr("text_color", $type);
  @if $transition {
    @return func.transitionColor($this_color);
  }
  @else{
    @return $this_color;
  }
}

// 根据背景色来确认文字颜色
@function getTextColorByBg($bgColor){
  $bgLighteness: color.lightness($bgColor);

  // 两个颜色都是亮色，文字颜色变暗
  @if $bgLighteness >= 60% {
    @return getAttr("text_color", "darkest");
  }
  // 亮度不同，则直接返回文字颜色
  @else{
    @return getAttr("text_color", "brightest");
  }

}
