.rxz-tree {
  &-item {
    &-label {
      width: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 4px;
      cursor: pointer;

      &.disabled {
        cursor: not-allowed;
        * {
          color: #d4d4d4 !important;
        }
      }

      &-content {
        flex-shrink: 0;
        margin: 0px 4px;
        user-select: none;
        white-space: nowrap;
      }

      &:hover, &.selected {
        background-color: #f3f3f3;
      }
    }
  }
}
