/**
主题列表
*/
$themes:(
  // 默认主题
  default:(
    color:(
      default:#FFFFFF,
      primary:#1483f1,
      success:#67c23a,
      information:#8e8e8f,
      disabled: #c2c2c2,
    ),
    text_color:(
      default:#000000,
      light: #d4d3d3,
      dark: #b3b2b2,
      brightest: #e9e9e9,
      darkest: #000000,
    ),
    border_color:(
      default: #d4d3d3,
      focus: #1483f1,
    ),
  ),
  // Red主题
  th-red:(
    color:(
      default:#FFFFFF,
      primary:#e40404,
      success:#e40404,
      information:#e40404
    ),
    text_color:(
      default:#000000,
      light: #d4d3d3,
      dark: #b3b2b2,
      brightest: #e9e9e9,
      darkest: #000000,
    ),
    border_color:(
      default: #767677,
      focus: #e40404,
    ),
  )

);
