# 忽略目录
.idea
.vscode
build/
docs/
example/
packages/
public/
node_modules/
typings/
tests/
script/

# 忽略指定文件
.commitlintrc.json
.dirlintrc.yml
.editorconfig
.eslintrc.js
.lintstagedrc.json
.npmignore
.nvmrc
babel.config.js
jest.config.js
tsconfig.json
tslint.json
vue.config.js
.gitignore
.browserslistrc
*.map
.husky
package-lock.json
webpack.config.js
