.rxz-flex {
  display: flex;
  justify-content: var(--justify);
  align-items: var(--align);



  &.vertical {
    flex-direction: column;
  }

  &.horizontal {
    flex-direction: row;
    :deep(> *:not(:last-child)) {
      margin-right: var(--gutter);
    }
  }


}
