@use "~@/themes/themeify";

.rxz-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @each $type in "success", "information", "warning", "error" {

    &.rxz-icon-type-#{$type} {
      @include themeify.themeify {
        color: themeify.getColor($type, false);
      }
    }
  }

  svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    fill: currentColor;
    stroke: currentColor;
  }
}

