@use "~@/themes/themeify";

.rxz-tip {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 32px 8px 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #000;
  position: relative;

  @include themeify.themeify {
    border-color: themeify.getBorderColor("default", true);
  }

  @include themeify.theme_color("default", false);

  @each $type in "success", "information", "warning", "error" {

    &.rxz-tip-#{$type} {
      @include themeify.theme_color($type, false);
    }
  }

  &-content {
    margin-left: 4px;
    flex: 1;
    overflow: hidden;
    font-size: 14px;
  }

  &-close {
    position: absolute;
    right: 8px;
    cursor: pointer;
  }

}

.move-anim-enter-active {
  animation: move-anim 0.3s;
}
.move-anim-leave-active {
  animation: move-anim 0.3s reverse;
}

@keyframes move-anim {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
