/**
主题列表
*/
$themes:(
  //默认主题
  default:(
    background_color:(
      primary:#409eff,
      success:#67c23a,
      information:#767677
    ),
    text_color:(
      primary:#ffffff,
      success:#67c23a,
      information:#767677
    )
  ),
  //Red主题
  th-red:(
    background_color:(
      primary:#e40404,
      success:#e40404,
      information:#e40404
    )
  )

);
