@use "~@/themes/themeify";

.rxz-menu {
  display: flex;
  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;

    width: 100%;

    a.level-0 {
      font-weight: bold;
    }


  }

  &-item {

    &-sub {
      padding-left: 16px;
      box-sizing: border-box;
    }

    a {
      user-select: none;
      display: inline-flex;
      padding: 16px;
      align-items: center;
      transition: color .2s;
      cursor: pointer;
      text-decoration: none;
      width: 100%;
      box-sizing: border-box;

      &.level-0 {
        font-size: 16px;
      }

      @include themeify.themeify {
        color: themeify.getTextColor("default", false);
      }

      &:hover, &.active {
        @include themeify.themeify {
          color: themeify.getColor("primary", false);
        }
      }

      .rxz-menu-item-icon {
        margin-right: 8px;
      }

      .rxz-menu-item-text {
        display: inline-block;
        flex: 1;
      }

      .rxz-menu-item-arrow {
        margin-left: 8px;
      }
    }
  }

}
