.rxz-badge {
  position: absolute;
  display: inline-flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  font-size: 12px;
  line-height: 0;
  height: 18px;
  min-width: 18px;
  border-radius: 18px;
  padding: 0 6px;
  color: #ffffff;
  transform: translate(-9px, -50%);
}
