@use "~@/themes/themeify";

.rxz-input {
  position: relative;
  display: flex;

  input {
    box-sizing: border-box;
    padding: 8px;
    background-image: none;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 100%;
    transition: border-color .2s;

    @include themeify.themeify {
      border-color: themeify.getBorderColor("default", false);
    }

    &:focus {
      @include themeify.themeify {
        border-color: themeify.getBorderColor("focus", false) !important;
      }
    }
  }

  &:not(.is-disabled):hover input {
    @include themeify.themeify {
      border-color: themeify.getBorderColor("default", true);
    }
  }

  &.is-disabled * {
    cursor: not-allowed !important;
  }

  &.is-disabled {
    @include themeify.themeify {
      background-color: themeify.getColor("disabled", false) !important;
    }
  }

  &-vmid {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    transform: translateY(-50%);

    ::v-deep > *:not(:last-child) {
      margin-right: 5px;
    }
  }

  &-in-front {
    left: 8px;
  }

  &-in-rear {
    right: 8px;
  }

  &-clear {
    transition: color .2s;
    cursor: pointer;

    @include themeify.themeify {
      color: themeify.getTextColor("light", false);
    }

    &:hover {
      @include themeify.themeify {
        color: themeify.getTextColor("light", true);
      }
    }
  }

  &-capslock {
    @include themeify.themeify {
      color: themeify.getColor("primary", false);
    }
  }

  &-eye {
    cursor: pointer;
    @include themeify.themeify {
      color: themeify.getColor("primary", false);
    }
  }
}
