.rxz-form-item {
  width: 100%;
  padding-right: 16px;

  &-body {
    padding-bottom: 16px;

    display: flex;
    align-items: flex-start;

    // 只有label和form-text
    & > :deep(.rxz-label),
    & > :deep(.rxz-form-text) {
      padding-top: 6px;
    }

    // 只有formValue占具剩余宽度
    :deep(.rxz-form-value) {
      flex: 1;
    }
  }
}

.error-tip {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  color: red;
  text-align: left;
  margin-top: -10px;
  padding-left: 5px;
  margin-bottom: 5px;
  &-icon {
    position: relative;
    top: 2px;
  }
  span {
    word-wrap: break-word;
    word-break: break-all;
  }
}
